[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
openai = "*"
tenacity = "*"
tqdm = "*"
matplotlib = "*"
more-itertools = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
